Playbooks/Sentinel-MDATP-IsolateMachine/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "PlaybookName": {
            "defaultValue": "Sentinel-MDATP-IsolateMachine",
            "type": "string"
        },
        "Email_Subject": {
            "defaultValue": "Default Subject",
            "type": "string"
        },
        "Email_To": {
            "defaultValue": "user@domain.com",
            "type": "string"
        },
        "Email_From": {
            "defaultValue": "user@domain.com",
            "type": "string"
        },
        "Location": {
            "defaultValue": "Canada Central",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azureloganalyticsdatacollector",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "wdatp",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/wdatp')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "office365",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('Location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Triggers_-_Trigger_when_new_WDATP_alert_occurs": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "changeType": "created",
                                    "clientState": "flow",
                                    "expirationDateTime": "2038-09-20T12:00:00Z",
                                    "notificationUrl": "@{listCallbackUrl()}",
                                    "resource": "alerts"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "path": "/subscriptions"
                            }
                        }
                    },
                    "actions": {
                        "Alerts_-_Get_single_alert": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/api/alerts/@{encodeURIComponent(triggerBody()?['id'])}"
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Actions_-_Isolate_machine": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Comment": "Machine @{body('Machines_-_Get_single_machine')?['computerDnsName']} is Isolated by Azure Sentinel automatically as a result of the Defender ATP Incident: @{body('Alerts_-_Get_single_alert')?['incidentId']}\n",
                                            "IsolationType": "Selective"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['wdatp']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                                    }
                                },
                                "Send_Data": {
                                    "runAfter": {
                                        "Send_an_email_(V2)": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "{\n\"ActionId\": \"@{triggerBody()?['SystemAlertId']}\",\n\"ActionTaken\": \"Machine isolated by Defender Logic App\",\n\"Entity\": \"@{body('Machines_-_Get_single_machine')?['computerDnsName']}\"\n}",
                                        "headers": {
                                            "Log-Type": "logicappactionlog"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    }
                                },
                                "Send_an_email_(V2)": {
                                    "runAfter": {
                                        "Actions_-_Isolate_machine": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>Hello SOC team,<br>\n<br>\nA machine has been isolated automatically by Azure Sentinel based on an threat raised by Microsoft Defedner for Servers.<br>\n<br>\nAlert Severity: @{body('Alerts_-_Get_single_alert')?['severity']}<br>\nMachine: @{body('Machines_-_Get_single_machine')?['computerDnsName']} <br>\nSentinel Incident: @{body('Alerts_-_Get_single_alert')?['incidentId']}<br>\nTitle: @{body('Alerts_-_Get_single_alert')?['title']}<br>\nDescription: @{body('Alerts_-_Get_single_alert')?['description']}</p>",
                                            "Subject": "[[[@{body('Alerts_-_Get_single_alert')?['severity']}] Machine @{body('Machines_-_Get_single_machine')?['computerDnsName']} isolated by Sentinel | Incident: @{body('Alerts_-_Get_single_alert')?['incidentId']}",
                                            "To": "Email_To"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Machines_-_Get_single_machine": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "Condition_3": {
                                                "actions": {
                                                    "Actions_-_Isolate_machine_2": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "Comment": "Machine @{body('Machines_-_Get_single_machine')?['computerDnsName']}",
                                                                "IsolationType": "Selective"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                                                        }
                                                    },
                                                    "Send_an_email_from_a_shared_mailbox_(V2)": {
                                                        "runAfter": {
                                                            "Actions_-_Isolate_machine_2": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "Body": "<p>Machine @{body('Machines_-_Get_single_machine')?['computerDnsName']} has been isolated after being approved by the SOC team.<br>\n<br>\nIncident: @{body('Alerts_-_Get_single_alert')?['incidentId']}</p>",
                                                                "MailboxAddress": "[parameters('Email_From')]",
                                                                "Subject": "Machine @{body('Machines_-_Get_single_machine')?['computerDnsName']} has been Isoalted as approved by SOC team | Incident: @{body('Alerts_-_Get_single_alert')?['incidentId']}",
                                                                "To": "[parameters('Email_To')]"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/v2/SharedMailbox/Mail"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Send_approval_email": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@body('Send_approval_email')?['SelectedOption']",
                                                                "Approve"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Send_Data_2": {
                                                "runAfter": {
                                                    "Condition_3": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "{\n\"ActionId\": \"@{triggerBody()?['SystemAlertId']}\",\n\"ActionTaken\": \"Machine isolated by Defender Logic App after approval by SOC\",\n\"Entity\": \"@{body('Machines_-_Get_single_machine')?['computerDnsName']}\"\n}",
                                                    "headers": {
                                                        "Log-Type": "logicappactionlog"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/api/logs"
                                                }
                                            },
                                            "Send_approval_email": {
                                                "runAfter": {},
                                                "type": "ApiConnectionWebhook",
                                                "inputs": {
                                                    "body": {
                                                        "Message": {
                                                            "Body": "Hello SOC team,\n\nThis is an approval request for a Selective Isolation for the machine: @{body('Machines_-_Get_single_machine')?['computerDnsName']}\nMicosoft Defender has detected a @{body('Alerts_-_Get_single_alert')?['severity']} severity threat on this machine, and is asking your approval to Isolate or Ignore this threat if its a false poisitive.\n\nRegards,\nAzure Sentinel",
                                                            "HideHTMLMessage": false,
                                                            "Importance": "Normal",
                                                            "Options": "Approve, Reject",
                                                            "ShowHTMLConfirmationDialog": false,
                                                            "Subject": "Microsoft Defender Isolate Request | Machine: @{body('Machines_-_Get_single_machine')?['computerDnsName']} | Sentinel Incident: @{body('Alerts_-_Get_single_alert')?['incidentId']}",
                                                            "To": "[parameters('Email_To')]"
                                                        },
                                                        "NotificationUrl": "@{listCallbackUrl()}"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "path": "/approvalmail/$subscriptions"
                                                }
                                            }
                                        },
                                        "runAfter": {},
                                        "else": {
                                            "actions": {
                                                "Send_Data_3": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "{\n\"ActionId\": \"@{triggerBody()?['SystemAlertId']}\",\n\"ActionTaken\": \"Machine NOT isolated after validation from SOC\",\n\"Entity\": \"@{body('Machines_-_Get_single_machine')?['computerDnsName']}\"\n}",
                                                        "headers": {
                                                            "Log-Type": "logicappactionlog"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/api/logs"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@body('Alerts_-_Get_single_alert')?['severity']",
                                                        "Medium"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Alerts_-_Get_single_alert')?['severity']",
                                            "High"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Machines_-_Get_single_machine": {
                            "runAfter": {
                                "Alerts_-_Get_single_alert": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/api/machines/@{encodeURIComponent(body('Alerts_-_Get_single_alert')?['machineId'])}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]",
                                "connectionName": "azureloganalyticsdatacollector",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'office365')]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "wdatp": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'wdatp')]",
                                "connectionName": "wdatp",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/wdatp')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
