Playbooks/Sentinel-InvestigateIP-Notification/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Sentinel_InvestigateIP_Notification_name": {
      "defaultValue": "Sentinel-InvestigateIP-Notification",
      "type": "String"
    },
    "UserName": {
      "defaultValue": "<username>@<domain>",
      "type": "string"
    },
    "PlaybookName": {
      "defaultValue": "Sentinel-InvestigateIP-Notification",
      "type": "string"
    },
    "Email_Subject": {
      "defaultValue": "Default Subject",
      "type": "string"
    },
    "Email_To": {
      "defaultValue": "jay@airgate.ca",
      "type": "string"
    },
    "Location": {
      "defaultValue": "Canada Central",
      "type": "string"
    },
    "VirusTotal_API_Key": {
      "defaultValue": "",
      "type": "securestring"
    },
    "Tags": {
      "type": "object",
      "defaultValue": {
        "Environment": "Reg-Prod",
        "Application": "Sentinel"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "azureloganalyticsdatacollector",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[parameters('UserName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
        }
      }
    },

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "azuresentinel",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[parameters('UserName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },

    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "office365",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[parameters('UserName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
        }
      }
    },

    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('Location')]",
      "tags": "[parameters('Tags')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]",
        "[resourceId('Microsoft.Web/connections', 'azuresentinel')]",
        "[resourceId('Microsoft.Web/connections', 'office365')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Alert_-_Get_IPs": {
              "runAfter": {
                "Alert_-_Get_incident": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "@triggerBody()?['Entities']",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/entities/ip"
              }
            },
            "Alert_-_Get_incident": {
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
              }
            },
            "For_each": {
              "foreach": "@body('Alert_-_Get_IPs')?['IPs']",
              "actions": {
                "Condition": {
                  "actions": {
                    "Add_comment_to_incident_(V2)": {
                      "runAfter": {
                        "Send_Data": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "Value": "VTIPReport found for @{items('For_each')?['Address']}, Query: VTIPReport_CL | where asn_s == \"@{body('Parse_JSON')?['asn']}\" and country_s == \"@{body('Parse_JSON')?['country']}\""
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "put",
                        "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                      }
                    },
                    "Send_Data": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "@{body('HTTP')}",
                        "headers": {
                          "Log-Type": "VTIPReport",
                          "time-generated-field": "@{utcNow()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/api/logs"
                      }
                    },
                    "Send_Data_2": {
                      "runAfter": {
                        "Send_an_email_(V2)": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": "{\n\"ActionId\": \"@{triggerBody()?['SystemAlertId']}\",\n\"ActionTaken\": \"IP found in virus total. Notifcation email sent\",\n\"Entity\": \"@{items('For_each')?['Address']}\"\n}",
                        "headers": {
                          "Log-Type": "logicappactionlog"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/api/logs"
                      }
                    },
                    "Send_an_email_(V2)": {
                      "runAfter": {
                        "Add_comment_to_incident_(V2)": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "Body": "<p>Please see VirusTotal report for @{items('For_each')?['Address']}.<br>\n<br>\nASN :@{body('Parse_JSON')?['asn']}<br>\nCountry: @{body('Parse_JSON')?['country']}<br>\nNetwork: @{body('Parse_JSON')?['network']}<br>\nOwner:@{body('Parse_JSON')?['as_owner']}<br>\n<br>\nPlease review and consider blocking.<br>\n<br>\nMore details:@{body('Parse_JSON')?['whois']}<br>\n</p>",
                          "Subject": "[parameters('Email_Subject')]",
                          "To": "[parameters('Email_To')]"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Add_comment_to_incident_(V2)_2": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                          "body": {
                            "Value": "VTIPReport was not found for @{items('For_each')?['Address']}"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                            }
                          },
                          "method": "put",
                          "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Parse_JSON')?['response_code']",
                          1
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Delay": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 15,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://www.virustotal.com/vtapi/v2/ip-address/report?apikey=@{variables('APIKey')}&ip=@{items('For_each')?['Address']}"
                  }
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Delay": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                      "properties": {
                        "as_owner": {
                          "type": "string"
                        },
                        "asn": {
                          "type": "integer"
                        },
                        "country": {
                          "type": "string"
                        },
                        "network": {
                          "type": "string"
                        },
                        "response_code": {
                          "type": "integer"
                        },
                        "verbose_msg": {
                          "type": "string"
                        },
                        "whois": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              },
              "runAfter": {
                "Alert_-_Get_IPs": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Initialize_variable": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "APIKey",
                    "type": "String",
                    "value": "[parameters('VirusTotal_API_Key')]"
                  }
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureloganalyticsdatacollector_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]",
                "connectionName": "azureloganalyticsdatacollector",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuresentinel')]",
                "connectionName": "azuresentinel",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'office365')]",
                "connectionName": "office365",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
              }

            }
          }
        }
      }
    }
  ]
}
